<nav class="navbar" >
   <div class="conteiner">
    <div class="ui-g">
      <div class="ui-g-12">
          <a href="javascrip:;" class="navbar-toogle" (click)="exibirMenu = !exibirMenu"><i class="pi pi-bars" style="font-size: 2em"></i></a>
      </div>
    </div>
   </div>

   <ul class="navbar-menu" [hidden]="!exibirMenu">
     <li class="navbar-usuario">Brian Bienemann</li>
     <li class="navbar-menuitem"><a routerLink="/lancamentos">Lançamentos</a></li>
     <li class="navbar-menuitem"><a routerLink="/pessoas">Pessoas</a></li>
     <li class="navbar-menuitem"><a href="#">Sair</a></li>
   </ul>
</nav>
